<template>
  <div class="home">
    <img alt="Nuts.com logo" src="../assets/nuts-logo-flowers-be5c80ae.svg" height="100">
    <h1>Make yourself some snacks </h1>
    <products/>
  </div>
</template>

<script>
// @ is an alias to /src
import products from '@/components/Products.vue'

export default {
  name: 'home',
  components: {
    products
  },
  data() {
    return {
      bottom: false
    }
  },
  created() {
    window.addEventListener('scroll', () => {
      this.bottom = this.bottomVisible()
    })
  },
  mounted() {
    this.$store.dispatch('init')
    this.$store.dispatch('loadMoreProducts')
  },
  watch: {
    bottom(bottom) {
      if (bottom) {
        this.$store.dispatch('loadMoreProducts')
      }
    }
  },
  methods: {
    bottomVisible() {
      const { scrollY } = window
      const visible = document.documentElement.clientHeight
      const pageHeight = document.documentElement.scrollHeight
      const bottomOfPage = visible + scrollY >= pageHeight
      return bottomOfPage || pageHeight < visible
    }
  }
}
</script>

<style lang="less" scoped>
h1{
  background-color: #6fcee4;
}
</style>
