<template>
    <section class="products">
        <div v-if="products.length === 0" class="loading">Loading...</div>
        <div v-else
            class="product-card"
            v-for="product in products"
            v-bind:key="product.id"
            @click="showModal(product)"
        >
            <div class="product-image">
            <img v-if="product.imageURL" v-bind:src="product.imageURL" alt="" height="120">
            <img v-else src="../assets/ece4edb2868a8225.cro-U2aFaCJE.jpg" alt="" height="120">
            </div>
            <div class="product-info">
            <h5>{{product.name}}</h5>
            </div>
        </div>
        <modal
            v-show="isModalVisible"
            :product="selProduct"
            @close="closeModal"
        />
    </section>
</template>

<script>
import { mapState } from 'vuex'
import modal from '@/components/Modal.vue'
import { constants } from 'fs';

export default {
  name: 'products',
  components: {
    modal
  },
  data() {
    return {
      isModalVisible: false,
      selProduct: {}
    }
  },
  computed: {
    ...mapState({
        products: state => state.products
    })
  },
  methods: {
    showModal(product) {
      this.isModalVisible = true
      this.selProduct = product
    },
    closeModal() {
      this.isModalVisible = false
    }
  }
}
</script>

<style lang="less" scoped>
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 3%;
  flex-grow: 1;
  flex-basis: 26%;
  border: 1px solid #ffffff;
  // display: flex; /* so child elements can use flexbox stuff too! */
  &:hover{
    border-color: #6fcee4;
    cursor: pointer;
  }
}
@media (max-width: 420px) {
  .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 600px) and (min-width: 421px) {
  .product-card {
    flex: 1 40%;
  }
}
@media (max-width: 920px) and (min-width: 601px) {
  .product-card {
    flex: 1 26%;
  }
}
.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}
</style>
